.header-container {
  width: 100%;
  background-color: var(--second-background);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: var(--text);

  .header-title {
    font-weight: bold;
    font-size: 1.5rem;
    transition: ease-in-out 0.5s;

    &:hover {
      color: var(--primary);
      cursor: pointer;
    }
  }

  .header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .header-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-item {
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    align-items: center;
    transition: ease-in-out 0.5s;

    &:hover {
      color: var(--primary);
      cursor: pointer;
    }
  }

  .header-item:nth-child(1),
  .header-item:nth-child(2),
  .header-item:nth-child(3) {
    margin-right: 40px;
  }
}
