* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

html,
body {
  height: 100%;
}

:root {
  --primary: #ffbb33;
  --second-background: #212529;
  --text: #f8f9fa;
  --category-item-background: #ff0000;
}

.dark {
  --primary: #ffbb33;
  --second-background: #f8f9fa;
  --text: #212529;
  --category-item-background: #ff0000;
}
